<div class="_scrollflow _dk _post w100 {#mgtopdk#}">
    <div class="cargo-litt-post_v3">
        <div class="container-pop_v3">
            {% for offre in offres %}
                {% if loop.index is odd %}
                    <a href="{{path('show_offre',{'slugcity':website.locality.slugcity,'slug':website.slug, 'offra':offre.slug, 'id':offre.id }) }}" class="last-post_v2 ctn100" data-offre="{{ offre.id }}">
                        {{include('website/public/desk/view/popform_mb.html.twig')}}
                    </a>
                {% endif %}
            {% else %}
                Pas de promotion, ni annonce publié actuellement
            {%  endfor %}
        </div>
        <div class="container-pop_v3">
            {% for offre in offres %}
                {% if loop.index is even %}
                    <a href="{{path('show_offre',{'slugcity':website.locality.slugcity,'slug':website.slug, 'offra':offre.slug, 'id':offre.id }) }}" class="last-post_v2 ctn100" data-offre="{{ offre.id }}">
                        {{include('website/public/desk/view/popform_mb.html.twig')}}
                    </a>
                {% endif %}
            {%  endfor %}
        </div>
    </div>
</div>