{# menu admin version mobile #}
{#  {{ include('elements/zone-header-wbadmin-mod.html.twig') }} #}
<div class="website-sh_mob">
<div class="nav_see_mob">
    <div class="menu-af_mb af_mb-wbcol">
        {{ include('aff_menu/pop/'~agent~'/all_bell_msg.html.twig') }}
        {{ include('aff_menu/pop/'~agent~'/bandospace.html.twig') }}
        {{ include('aff_menu/pop/'~agent~'/profilnav.html.twig') }}
    </div>
</div>
</div>

{{ include('aff_customer/header/'~agent~'/header-wbadmin-mob.html.twig') }}
