{#
 <div class="inf-msg">

     <div class="wb-logo-pop">
         {% if msg.websitedest.template.logo %}
             <div   class="wb_logo" style="background-image: url('{{ asset('spaceweb/template/'~msg.websitedest.template.logo.namefile ) }}')"></div>
         {% else %}
             <div  class="wb_logo" style="background-image: url('{{ asset('img/pinsaffi.png') }}')"></div>
         {% endif %}
     </div>
</div>
<div class="_li-fx fx-cst">
     <div class="origin">
         <div class="origin">
                 <h3>{{msg.websitedest.namewebsite }}</h3>
         </div>
    </div>
#}
{% if not msg.isspaceweb %}
<div class="_li-fx fx-cst">
    <div class="{{ msg.sender ?"":"_co-bk"}}">Nouveau contact&nbsp;:&nbsp;{{- msg.tballmsgs.contact.emailCanonical|trim -}}</div>
    <div class="af_flx-W">
        {%  if  msg.tballmsgs.extract is not null%}
            <div class="obje">{{- msg.tballmsgs.extract|u.truncate(20, '...', false) -}}</div>
        {%  else %}
            <div class="obje">&nbsp;...</div>
        {%  endif %}
    </div>
</div>
{% endif %}

{% if msg.isspaceweb %}
<div class="_li-fx fx-cst">
    <div class="af_flx-W">
        <span>de&nbsp;</span><div class="{{ msg.sender ?"":"_co-bk"}}">{{- msg.tballmsgs.dispatch.name|trim -}}&nbsp;:&nbsp;</div>
        {%  if  msg.tballmsgs.extract is not null%}
            <div class="obje">{{- msg.tballmsgs.extract|u.truncate(20, '...', false) -}}</div>
        {%  else %}
            <div class="obje">&nbsp;...</div>
        {%  endif %}
    </div>
</div>
{% endif %}

<div>
    {%  if  msg.tballmsgs.lastconvers %}
        {%  set datetosee = msg.tballmsgs.lastconvers %}
    {%  else %}
        {%  set datetosee = msg.createAt %}
    {% endif %}

    {% if datetosee|format_datetime('short', 'none', locale='fr') is same as ("now"|format_datetime('short', 'none', locale='fr')) %}
        <div class="date_msg">{{- datetosee|format_datetime('none', 'short', locale='fr') -}}</div>
    {% else %}
        <div class="date_msg">{{- datetosee|format_datetime('medium', 'none', locale='fr')|slice(0,-4) -}}</div>
    {% endif %}
</div>

