{{ include('aff_menu/menus/'~agent~'/modale_mob_customer.html.twig') }}


{#
<div class="tools-navbar">
    <div class="e-tool bulletoggle" title="menu" data-affitgl="tgl_7">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <a class="e-tool" title="parmaetre du panneau" href="{{ path('members',{'id':board.id}) }}"><i class="fa fa-users" aria-hidden="true"></i></a>
    <a class="e-tool" title="messagerie"  href="{{path('board_board',{'id': board.id }) }}"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
    <a class="e-tool" title="messagerie" href="{{ path('search_partner',{'id':board.id}) }}"><i class="fa fa-cloud" aria-hidden="true"></i></a>
    <a class="e-tool" title="messagerie" href="{{ path('parameters',{'id':board.id}) }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a>
</div>
<div class="menu-admin_mb">
    {{ include('aff_menu/pop/'~agent~'/profilnav.html.twig') }}
</div>

{{ include('aff_menu/pop/'~agent~'/bandospace.html.twig') }}
#}

{# {{ include('aff_customer/header/'~agent~'/header-wbadmin-mob.html.twig') }} #}


