<div class="list-incub_mob">
    <div class="pos-incub-i">
        <a class="bt-newmod" href="{{ path('new_carte',{'id':board.id}) }}">Ajouter des plats</a>
    </div>
</div>

<div class="list-incub_mob">
    {%  for key, cat in articles %}
        <table class="aff_table_mob t_size_list">
            <thead>
            <tr>
                <th>{{ key }}</th>
                <th><i class="fa fa-cog"></i></th>
            </tr>
            </thead>
            <tbody>

            {%  for art in cat %}
                <tr>
                    <td>{{ art.titre }} </td>
                    <td>
                        <a href="{{path('edit_carte', {id: art.id})}}" class="btn btn-primary mrg-r5"><i class="fa fa-edit"></i></a>
                        <form method="post" action="{{path('delete_carte', {id: art.id})}}" style="display: inline-block"; onsubmit="return confirm('voulez vraiment supprimer cet élèment ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ art.id) }}">
                            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {%  endfor %}
</div>


