{# read version mobile#}
{% block body %}
<div class="universaff_mob">
    {{ include('navigation/'~agent~'nav_privatemsg.html.twig') }}
    <div class="ii_switch">
        <div class="fx-pw">
            {{ include('navigation/'~agent~'modale_info_privatemsg.html.twig') }}
            <div class="mesg-fx">
                {{ include('backoffice/'~directory~'/'~agent~'view/readmessage.html.twig') }}
            </div>
            {{ include('website/public/footers/mobile/footer_answer.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
{% use "js/js-webmessage.html.twig" %}
{% block javascripts %}
{{ parent() }}
{% endblock %}

