{# ./templates/pdf/commandedesk.html.twig #}
<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>facture</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        @page {
            padding: 15px;
        }
        body{
            margin: 15px
        }
        .entete{
            margin:15px
        }
        img{
            width: 150px;
            height: auto;
        }
        span{
            color:dodgerblue;
        }
        .header-pdf{
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            margin: 15px;
        }
        .header-pdf h6{
            font-size: 2rem;
        }
        .section-in{
            margin: auto;
            width: 90%;
        }
        .content-page{
            margin: auto;
        }
        .title-page{
            text-align: center
        }
        .total-fact{
            width: 389px;
            display: flex;
            justify-content: flex-end;/
            text-align: center;
            margin-left: 50%;
        }
        .footer-fac{
            width: 80%;
            margin: auto;
            font-size: 0.8rem;
        }
        .footer-brand{
            text-align: center;
            font-size: 0.8rem;
            line-height: 2px;
        }
        .name-brand .h3, h3{
            font-size: 1.3em;
        }
        .customer{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }
        li{
            text-decoration: none;
            list-style: none;

        }
        .content-fact{
            min-height: 350px;
        }
    </style>
</head>
<body>
    <div class="entete">
        <div class="header-pdf">
            <div class="logo-top"><img src="https://affichange.com/img/AffiChanGe.png"  alt="logo affichange"></div>
            <h6 class="title-pdf">AffiChanGe</h6>
        </div>
        <div class="info.brand">
            <ul class="brand-info">
                <li class="brand-li">3, rue de la tranquillité</li>
                <li class="brand-li">44830 - Bouaye</li>
                <li class="brand-li">www.affichange.com</li>
                <li class="brand-li"><a href="https://affichange.com/msg/formcontact/affichange/Dc7zkgFhLpCoH5a2vbiNGUOZ">affichange@</a></li>
            </ul>
        </div>
    </div>
{% set website = order.wbcustomer.website %}
    <div class="content-page">

        <div class="info-brand">
            <div class="customer">
                <h5>Client : {{ website.namewebsite }}</h5>
                <div class="brand-info">
                    {%  if website.template.sector.adresse|length > 0 %}
                    <div class="brand-li">{{ website.template.sector.adresse[0].numero}}  {{ website.template.sector.adresse[0].nomVoie}}</div>
                    <div class="brand-li">{{ website.template.sector.adresse[0].nomCommune }}</div>
                    <div class="brand-li">{{ website.template.sector.adresse[0].codePostal }}</div>
                    {% else %}
                        <div class="brand-li">non renseigné</div>
                        <div class="brand-li">non renseigné</div>
                        <div class="brand-li">non renseigné</div>
                    {%  endif %}
                </div>
            </div>
        </div>

        <h5 class="title-page">Commande N° {{ order.numcommande }} du {{ order.date|format_date(locale='fr') }}</h5>

        <div class="section-in">
            <p><strong>N° client : {{ website.createAt|date("Y") }}-WB-{{ website.id }}{{ order.wbcustomer.numero }} </strong></p>
            <p><strong>administrateur website : {{ dispatch.name }} </strong></p>
            <p><strong>Client : {{ dispatch.customer.profil.firstname }} </strong></p>

            <h5>Prestations :</h5>

            <div class="content-fact">
                <table class="list__table__match table table-striped match-dom" style="font-size: 0.8rem; margin: auto;">
                <thead>
                <tr>
                    <th>Réference</th>
                    <th>Designation</th>
                    <th> - </th>
                    <th> quantité/budget </th>
                    <th>prix HT/ taux</th>
                    <th>total HT</th>
                </tr>
                </thead>
                <tbody>
                {% for cmd in order.products %}  {# products ici est Wborderproduct #}
                    {% if cmd.remised %}
                        {%  set price = cmd.priceht %}
                    {% else %}
                        {%  set price = cmd.product.price %}
                    {% endif %}
                        <tr>
                            <td>{{ cmd.product.name }}</td>
                            <td>{{ cmd.product.description }}</td>
                            <td>{{ cmd.description }}</td>
                            <td>{{ cmd.multiple }}</td>
                            {%  if cmd.product.unit is same as('€') %}
                                <td>{{ price|number_format(2,',', '.') }} €  HT</td>
                                <td>{{ ( price*cmd.multiple )|number_format(2,',', '.') }} €  HT</td>
                            {% else %}
                                <td>{{ price }} %</td>
                                <td>{{ ((price*cmd.multiple)/100 )|number_format(2,',', '.') }} €  HT</td>
                            {%  endif %}
                        </tr>
                    {% if cmd.subscription is not null %}
                    <tr>
                        <td></td>
                        <td>pour la periode du : {{ cmd.subscription.starttime|date('d/m/y') }} au {{ cmd.subscription.endtime|date('d/m/y') }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
                <hr>
            </div>
            <div class="total-fact">
                <table class="list__table__match table table-striped match-dom">
                    <thead>
                    <tr>
                        <th>Total H.T</th>
                        <th>TVA(20%)</th>
                        <th>Total TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.totalht|number_format(2,',', '.') }} € </td>
                            <td>{{ order.totaltva|number_format(2,',', '.') }} € </td>
                            <td>{{ order.totalttc|number_format(2,',', '.') }} € </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>

        <div class="footer-fac">
            <h3 class="reg-fact">Réglement : </h3>
            <p  class="mention-fac">Nous nous réservons la propriété des droits de création, de développement et le maintien des services et abonnements définis par la présente facture jusqu’au paiement intégral de leur prix. Le client reconnaît avoir pris connaissance des conditions générales de vente et déclare accepter sans réserve. Aucun escompte ne sera accordé et ne pourra être déduit directement par le client. Tout retard de paiement entraînera des pénalités de retard égales à 3 fois le taux d’intérêt légal soit 1.95% et une indemnité forfaitaire de 20% des sommes réclamées.
            </p>
        </div>
        <div class="footer-brand">
            <h3 class="name-brand">AffiChange - NBCOM</h3>
            <p> SAS au capital de 1000 € - RCS Saint Nazaire 795 072 115 000012 Ape : 6012Z
            </p>
            <p>affichange.com - <span class="Afg">affichange</span></p>
        </div>
    </div>
</body>
</html>