<div class="af_flx-C">
    <div class="bubble-menu-litt-rock  {{ vartwig.m2 ? "actsel" :"" }}">
        <a class="mn-link" href="{{path('profil_customer')}}">Mes infos de contact</a>
    </div>
    <div class="bubble-menu-litt-rock  {{ vartwig.m3 ? "actsel" :"" }}">
        <a class="mn-link" href="{{path('tab_facture_customer')}}">Mes Factures</a>
    </div>
    <div class="bubble-menu-litt-rock  {{ vartwig.m4 ? "actsel" :""}}">
        <a class="mn-link" href="{{path('choice_board')}}">Mes préférences</a>
    </div>
    <div class="bubble-menu-litt-rock  {{ vartwig.m5 ? "actsel" :"" }}">
        <a class="mn-link" href="{{ path('list_module_customer') }}">Mes Services</a>
    </div>
</div>

