<div class="cub-form">
    <div class="act-ct">
        <div class="cbe-fx">
            <div class="cbe_cnt">
                <div class="c_i_b">
                    <div class="in_cib">
                        <div class="form-groupfields glass-label">
                            <div class="glass-title_form">
                                <h3>initialisation du module {{ module }}</h3>
                            </div>
                            <div class="process-module_glass">
                                <div class="stape-process-lit" >
                                    <h5>Client <strong>{{ dispatch.name }}</strong></h5>
                                </div>
                                {{ form_start(form)}}
                                {{form_rest(form)}}
                                {{form_end(form)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
